## EDA and Pre-processing for Predicting at Risk Customers on Defaulting a Loan

### Libraries

In [11]:
import pandas as pd
from statistics import mode

### Loading in Data

In [110]:
DATA_ROOT = 'C:/Users/mzazu/OneDrive/Documents/USD papers/505/505Project/application_train.csv'
credit = pd.read_csv(os.path.join(DATA_ROOT, 'application_train.csv'))

### Looking at Data

#### Seeing data frame dimensions

In [31]:
credit.shape

(307511, 122)

#### Looking at Percent NA' of columns

In [34]:
round(credit.iloc[:,0:50].isnull().sum() * 100/len(credit), 2)

SK_ID_CURR                      0.00
TARGET                          0.00
NAME_CONTRACT_TYPE              0.00
CODE_GENDER                     0.00
FLAG_OWN_CAR                    0.00
FLAG_OWN_REALTY                 0.00
CNT_CHILDREN                    0.00
AMT_INCOME_TOTAL                0.00
AMT_CREDIT                      0.00
AMT_ANNUITY                     0.00
AMT_GOODS_PRICE                 0.09
NAME_TYPE_SUITE                 0.42
NAME_INCOME_TYPE                0.00
NAME_EDUCATION_TYPE             0.00
NAME_FAMILY_STATUS              0.00
NAME_HOUSING_TYPE               0.00
REGION_POPULATION_RELATIVE      0.00
DAYS_BIRTH                      0.00
DAYS_EMPLOYED                   0.00
DAYS_REGISTRATION               0.00
DAYS_ID_PUBLISH                 0.00
OWN_CAR_AGE                    65.99
FLAG_MOBIL                      0.00
FLAG_EMP_PHONE                  0.00
FLAG_WORK_PHONE                 0.00
FLAG_CONT_MOBILE                0.00
FLAG_PHONE                      0.00
FLAG_EMAIL                      0.00
OCCUPATION_TYPE                31.35
CNT_FAM_MEMBERS                 0.00
REGION_RATING_CLIENT            0.00
REGION_RATING_CLIENT_W_CITY     0.00
WEEKDAY_APPR_PROCESS_START      0.00
HOUR_APPR_PROCESS_START         0.00
REG_REGION_NOT_LIVE_REGION      0.00
REG_REGION_NOT_WORK_REGION      0.00
LIVE_REGION_NOT_WORK_REGION     0.00
REG_CITY_NOT_LIVE_CITY          0.00
REG_CITY_NOT_WORK_CITY          0.00
LIVE_CITY_NOT_WORK_CITY         0.00
ORGANIZATION_TYPE               0.00
EXT_SOURCE_1                   56.38
EXT_SOURCE_2                    0.21
EXT_SOURCE_3                   19.83
APARTMENTS_AVG                 50.75
BASEMENTAREA_AVG               58.52
YEARS_BEGINEXPLUATATION_AVG    48.78
YEARS_BUILD_AVG                66.50
COMMONAREA_AVG                 69.87
ELEVATORS_AVG                  53.30
dtype: float64

In [35]:
round(credit.iloc[:,50:100].isnull().sum() * 100/len(credit), 2)

ENTRANCES_AVG                   50.35
FLOORSMAX_AVG                   49.76
FLOORSMIN_AVG                   67.85
LANDAREA_AVG                    59.38
LIVINGAPARTMENTS_AVG            68.35
LIVINGAREA_AVG                  50.19
NONLIVINGAPARTMENTS_AVG         69.43
NONLIVINGAREA_AVG               55.18
APARTMENTS_MODE                 50.75
BASEMENTAREA_MODE               58.52
YEARS_BEGINEXPLUATATION_MODE    48.78
YEARS_BUILD_MODE                66.50
COMMONAREA_MODE                 69.87
ELEVATORS_MODE                  53.30
ENTRANCES_MODE                  50.35
FLOORSMAX_MODE                  49.76
FLOORSMIN_MODE                  67.85
LANDAREA_MODE                   59.38
LIVINGAPARTMENTS_MODE           68.35
LIVINGAREA_MODE                 50.19
NONLIVINGAPARTMENTS_MODE        69.43
NONLIVINGAREA_MODE              55.18
APARTMENTS_MEDI                 50.75
BASEMENTAREA_MEDI               58.52
YEARS_BEGINEXPLUATATION_MEDI    48.78
YEARS_BUILD_MEDI                66.50
COMMONAREA_MEDI                 69.87
ELEVATORS_MEDI                  53.30
ENTRANCES_MEDI                  50.35
FLOORSMAX_MEDI                  49.76
FLOORSMIN_MEDI                  67.85
LANDAREA_MEDI                   59.38
LIVINGAPARTMENTS_MEDI           68.35
LIVINGAREA_MEDI                 50.19
NONLIVINGAPARTMENTS_MEDI        69.43
NONLIVINGAREA_MEDI              55.18
FONDKAPREMONT_MODE              68.39
HOUSETYPE_MODE                  50.18
TOTALAREA_MODE                  48.27
WALLSMATERIAL_MODE              50.84
EMERGENCYSTATE_MODE             47.40
OBS_30_CNT_SOCIAL_CIRCLE         0.33
DEF_30_CNT_SOCIAL_CIRCLE         0.33
OBS_60_CNT_SOCIAL_CIRCLE         0.33
DEF_60_CNT_SOCIAL_CIRCLE         0.33
DAYS_LAST_PHONE_CHANGE           0.00
FLAG_DOCUMENT_2                  0.00
FLAG_DOCUMENT_3                  0.00
FLAG_DOCUMENT_4                  0.00
FLAG_DOCUMENT_5                  0.00
dtype: float64

In [36]:
round(credit.iloc[:,100:122].isnull().sum() * 100/len(credit), 2)

FLAG_DOCUMENT_6                0.0
FLAG_DOCUMENT_7                0.0
FLAG_DOCUMENT_8                0.0
FLAG_DOCUMENT_9                0.0
FLAG_DOCUMENT_10               0.0
FLAG_DOCUMENT_11               0.0
FLAG_DOCUMENT_12               0.0
FLAG_DOCUMENT_13               0.0
FLAG_DOCUMENT_14               0.0
FLAG_DOCUMENT_15               0.0
FLAG_DOCUMENT_16               0.0
FLAG_DOCUMENT_17               0.0
FLAG_DOCUMENT_18               0.0
FLAG_DOCUMENT_19               0.0
FLAG_DOCUMENT_20               0.0
FLAG_DOCUMENT_21               0.0
AMT_REQ_CREDIT_BUREAU_HOUR    13.5
AMT_REQ_CREDIT_BUREAU_DAY     13.5
AMT_REQ_CREDIT_BUREAU_WEEK    13.5
AMT_REQ_CREDIT_BUREAU_MON     13.5
AMT_REQ_CREDIT_BUREAU_QRT     13.5
AMT_REQ_CREDIT_BUREAU_YEAR    13.5
dtype: float64

#### Removing columns with over 30% data missing

In [180]:
# for loop and sees if the row has a value greater or equal to 30 and then stores the name of the column into col_name
col = -1
col_name = []
for i in credit.isnull().sum() * 100/len(credit):
    col = col + 1
    if i >= 30:
        col_name.append(credit.columns[col])
        
# dropping the columns found
credit_df = credit.drop(col_name, axis = 1)
credit_df.shape

(307511, 72)

A total of 50 features were removed

##### Removing ID

In [181]:
credit_df = credit_df.drop(['SK_ID_CURR'], axis = 1)

#### Seeing which columns are numeric

In [182]:
cols = credit_df.columns
num_cols = credit_df._get_numeric_data().columns
num_cols

Index(['TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

##### If numeric columns have NA's present, the median of that column will replace the missing value

In [183]:
credit_df = credit_df.fillna(credit_df.median())

#### Seeing which are not numeric

In [184]:
col_char = list(set(cols) - set(num_cols))
col_char

['FLAG_OWN_CAR',
 'NAME_TYPE_SUITE',
 'CODE_GENDER',
 'NAME_CONTRACT_TYPE',
 'NAME_EDUCATION_TYPE',
 'ORGANIZATION_TYPE',
 'NAME_HOUSING_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_INCOME_TYPE',
 'FLAG_OWN_REALTY',
 'WEEKDAY_APPR_PROCESS_START']

#### Examinig which to make binary variables and which to make dummy variables

In [185]:
print(credit_df[col_char])

       FLAG_OWN_CAR NAME_TYPE_SUITE CODE_GENDER NAME_CONTRACT_TYPE  \
0                 N   Unaccompanied           M         Cash loans
1                 N          Family           F         Cash loans
2                 Y   Unaccompanied           M    Revolving loans
3                 N   Unaccompanied           F         Cash loans
4                 N   Unaccompanied           M         Cash loans
...             ...             ...         ...                ...
307506            N   Unaccompanied           M         Cash loans
307507            N   Unaccompanied           F         Cash loans
307508            N   Unaccompanied           F         Cash loans
307509            N   Unaccompanied           F         Cash loans
307510            N   Unaccompanied           F         Cash loans

                  NAME_EDUCATION_TYPE       ORGANIZATION_TYPE  \
0       Secondary / secondary special  Business Entity Type 3
1                    Higher education                  School
2       Secondary / secondary special              Government
3       Secondary / secondary special  Business Entity Type 3
4       Secondary / secondary special                Religion
...                               ...                     ...
307506  Secondary / secondary special                Services
307507  Secondary / secondary special                     XNA
307508               Higher education                  School
307509  Secondary / secondary special  Business Entity Type 1
307510               Higher education  Business Entity Type 3

        NAME_HOUSING_TYPE    NAME_FAMILY_STATUS      NAME_INCOME_TYPE  \
0       House / apartment  Single / not married               Working
1       House / apartment               Married         State servant
2       House / apartment  Single / not married               Working
3       House / apartment        Civil marriage               Working
4       House / apartment  Single / not married               Working
...                   ...                   ...                   ...
307506       With parents             Separated               Working
307507  House / apartment                 Widow             Pensioner
307508  House / apartment             Separated               Working
307509  House / apartment               Married  Commercial associate
307510  House / apartment               Married  Commercial associate

       FLAG_OWN_REALTY WEEKDAY_APPR_PROCESS_START
0                    Y                  WEDNESDAY
1                    N                     MONDAY
2                    Y                     MONDAY
3                    Y                  WEDNESDAY
4                    Y                   THURSDAY
...                ...                        ...
307506               N                   THURSDAY
307507               Y                     MONDAY
307508               Y                   THURSDAY
307509               Y                  WEDNESDAY
307510               N                   THURSDAY

[307511 rows x 11 columns]

##### Changing 'FLAG_OWN_CAR'

In [186]:
boolian = []
for i in credit_df['FLAG_OWN_CAR']:
    if i == 'N':
        boolian.append(0)
    else:
        boolian.append(1)

credit_df['FLAG_OWN_CAR'] = pd.DataFrame(boolian, columns=['FLAG_OWN_CAR'])

##### Changing 'CODE_GENDER' (Male = 0, Female = 1)

In [187]:
boolian = []
for i in credit_df['CODE_GENDER']:
    if i == 'M':
        boolian.append(0)
    else:
        boolian.append(1)

credit_df['CODE_GENDER'] = pd.DataFrame(boolian, columns=['CODE_GENDER'])

##### Changing 'FLAG_OWN_REALTY'

In [188]:
boolian = []
for i in credit_df['FLAG_OWN_REALTY']:
    if i == 'N':
        boolian.append(0)
    else:
        boolian.append(1)

credit_df['FLAG_OWN_REALTY'] = pd.DataFrame(boolian, columns=['FLAG_OWN_REALTY'])

##### Changing 'NAME_CONTRACT_TYPE' (Cash loans = 0, Revolving loans = 1)

In [189]:
boolian = []
for i in credit_df['NAME_CONTRACT_TYPE']:
    if i == 'Cash loans':
        boolian.append(0)
    else:
        boolian.append(1)

credit_df['NAME_CONTRACT_TYPE'] = pd.DataFrame(boolian, columns=['NAME_CONTRACT_TYPE'])

##### Replacing the remaining NA column with the mode for the non numeric feature

In [190]:
credit_df['NAME_TYPE_SUITE'] = credit_df['NAME_TYPE_SUITE'].fillna(credit_df['NAME_TYPE_SUITE'].mode()[0])

##### Making Dummy Variables out of the rest of the categorical columns and putting it into new data frame

In [191]:
dummy_cols = ['NAME_TYPE_SUITE', 'NAME_EDUCATION_TYPE', 'ORGANIZATION_TYPE', 'NAME_HOUSING_TYPE', 
              'NAME_FAMILY_STATUS', 'NAME_INCOME_TYPE', 'WEEKDAY_APPR_PROCESS_START']

count = 0
for i in dummy_cols:
    count = count + 1
    if count == 1:
        dummies_new = pd.get_dummies(credit_df[i], drop_first=True)
    else:
        dummies = pd.get_dummies(credit_df[i], drop_first=True)
        dummies_new = pd.concat([dummies_new, dummies], axis = 1)

##### Removing old categorical features and adding dummy data frame

In [192]:
credit_df = credit_df.drop(dummy_cols, axis = 1)
credit_df = pd.concat([dummies_new, credit_df], axis = 1)

In [193]:
credit_df.shape

(307511, 154)

In [160]:
# Next, we should look at correlation between features and see if there is skweness